{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
	

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			
			<div class="card text-white bg-dark mb-3">
				<div class="card-header"><h1>Create Profile Page</h1></div>
				
				<div class="card-body">
					{{ form.media }}
					{{ form.as_p }}
					<button class="btn btn-secondary">Create Profile </button>
				</div>
			</div>
		</form>	
	</div>
	
	<script>
		var name = "{{ user.id }}"
		document.getElementById("usr_get").value = name;
	</script>
	
{% else %}
	
	<div class="card text-white bg-danger mx-auto" style="max-width: 18rem;">
	<div class="card-header">You shall not pass!</div>
	</div>
	
{% endif %}

{% endblock %}