{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
	
	<br/><br/>

	<div class="form-group">
		<table>
		<form method="POST">
			{% csrf_token %}
			
			<div class="card border-success mx-auto" style="max-width: 24rem;">
				<div class="card-header bg-transparent border-success"><h1>Account Settings</h1></div>
				
				<div class="card-body text-success">
					{{ form.as_p }}
		
					<a href="{% url 'change-password' %}" class="btn btn-outline-warning">Change Password</a><br/>
				</div>
				
				<div class="card-footer bg-transparent border-success">
					<button class="btn btn-success"> Edit </button>
				</div>
				
			</div>
			
			
	</div>
	
{% else %}
	
	<div class="card text-white bg-danger mx-auto" style="max-width: 18rem;">
	<div class="card-header">You shall not pass!</div>
	</div>
	
{% endif %}

{% endblock %}