{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}

	<div class="card text-dark bg-info mx-auto" style="max-width: 35rem;">
		<div class="card-header"><h1>Register?</h1></div>
	
		<div class="card-body">
			<h5>You should log out first :/</h5>
		</div>
	</div>
		
	
{% else %}

<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		<div class="card text-dark bg-info mx-auto" style="max-width: 35rem;">
			<div class="card-header"><h1>Register</h1></div>
		
			<div class="card-body">
				<p class="card-text">{{ form.as_p }}</p>
				<button class="btn btn-success"> Register </button>
			</div>
		</div>
		
</div>

{% endif %}

{% endblock %}