{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
	
	<div class="card text-white bg-dark mx-auto" style="max-width: 55rem;">
	  <div class="card-header"><h1>Create Custom Spell</h1></div>
	  <div class="card-body">
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
			
				<button class="btn btn-dark btn-outline-primary"> Create </button>
		</div>
	  </div>
	</div>
	
	
	<script>
		var name = "{{ user.id }}"
		document.getElementById("usr_get").value = name;
	</script>
	
{% else %}
	
	<div class="card text-white bg-danger mx-auto" style="max-width: 18rem;">
	<div class="card-header">You shall not pass!</div>
	</div>
	
{% endif %}

{% endblock %}