{% extends 'base.html'%}

{% block content %}


<div class="card text-white bg-dark mx-auto">
  <div class="card-header"><h1>Welcome to stuff5e! </h1></div>
  <div class="card-body">
    <h4 class="card-title">What is this?</h4>
    <p class="card-text">This a simple website made for laboratories from Databases on FMIMUW. It is meant 
		to show basic usage of connections to database (SQLite here) and even more basic webdevelepoment.</p><br/><hr/>
	
	<h4 class="card-title">What can you do here?</h4>
    <p class="card-text">An anonymous user can browse spells, races, feats and classes from a table top game Dungeons and Dragons 5e.
		After creating an account there raises a possibility for users to create their own custom versions of aforementioned.</p><br/><hr/>
	
	
	<h4 class="card-title">Additional Features</h4>
    <p class="card-text">One can also find a discussion forum here where users can talk on a whole variety of topics, 
		a jurnals section - a place where players can write down stories from their games, and a character section - 
		something everyone was waiting for. There one can create and manage ideas for their potential future in-game characters!</p><hr/>
	

  </div>
</div>


	
{% endblock %}