{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
{% for journal in model %}
{% for x in journal.user_access.values %}
{% if x.id == user.id %}
		
	<div class="card text-white border-warning bg-secondary mx-auto" style="max-width: 55rem;">
	  <div class="card-header"><h1>Delete JPost</h1></div>
      <div class="card-body">
		<h3 class="card-title">You will delete: "{{ todelete.values.first.title }}" from {{journal.title}}</h3>
		
		<p class="card-text"> <div class="form-group">
			<form method="POST">
				{% csrf_token %}
				<strong>You sure?</strong><br/><br/>
				<button class="btn btn-warning"> Delete </button>
			</form>
		</div></p>

	  </div>
	</div>

{% endif %}
{% endfor %}
{% endfor %}	
{% else %}
	
	<div class="card text-white bg-danger mx-auto" style="max-width: 18rem;">
	<div class="card-header">You shall not pass!</div>
	</div>
	
{% endif %}

{% endblock %}